<!-- MTA - start -->
<ion-header>
    <ion-navbar core-back-button>
	<!-- MTA - marker -->
        <!--<ion-title>{{ 'core.sitehome.sitehome' | translate }}</ion-title> -->
        <ion-title>{{ 'core.sitehome.sitehome' | translate }}</ion-title>
		<img src="ebz_logo.png" width="100" height="38" style="margin-left: 70%; margin-top: -30px;">
    </ion-navbar>
</ion-header>
<!-- ORIGINAL code: 
<ion-header>
    <ion-navbar core-back-button>
	<!-- MTA - start (1ff) - Startseiten-Name im oberen "Seitenbalken -->
       <!-- <ion-title>{{ 'core.courses.mycourses2' | translate }}</ion-title>-->
	   
<!--	   
       <ion-title>{{ 'EBZ App - Startseite' | translate }}</ion-title>

        <ion-buttons end>
            <button *ngIf="searchEnabled" ion-button icon-only (click)="openSearch()" [attr.aria-label]="'core.courses.searchcourses' | translate">
                <ion-icon name="search"></ion-icon>
            </button>
            <core-context-menu>
                <core-context-menu-item [hidden]="!downloadAllCoursesEnabled || !courses || courses.length < 2" [priority]="800" [content]="'core.courses.downloadcourses' | translate" (action)="prefetchCourses()" [iconAction]="prefetchCoursesData.icon" [closeOnClick]="false" [badge]="prefetchCoursesData.badge"></core-context-menu-item>
                <core-context-menu-item [hidden]="!courses || courses.length <= 5" [priority]="700" [content]="'core.courses.filtermycourses' | translate" (action)="switchFilter()" [iconAction]="'funnel'"></core-context-menu-item>
            </core-context-menu>
        </ion-buttons>
    </ion-navbar>
</ion-header>
-->
<!-- MTA - end -->
<ion-content>
    <ion-refresher [enabled]="coursesLoaded" (ionRefresh)="refreshCourses($event)">
        <ion-refresher-content pullingText="{{ 'core.pulltorefresh' | translate }}"></ion-refresher-content>
    </ion-refresher>

    <core-loading [hideUntil]="coursesLoaded">
        <ion-searchbar #searchbar *ngIf="showFilter" [(ngModel)]="filter" (ionInput)="filterChanged($event)" (ionCancel)="filterChanged()" [placeholder]="'core.courses.filtermycourses' | translate">
        </ion-searchbar>
        <ion-grid no-padding>
            <ion-row no-padding>
			<!-- MTA - start (marker_1 : diese eine Stelle rendert alles!!!  --  marker_2: DISABLE COURSE DOWNLOAD BUTTONS) -->
				<ion-col *ngFor="let course of filteredCourses" no-padding col-6 col-sm-6 col-md-6 col-lg-4 col-xl-4>	
                  <core-courses-course-progress2 [course]="course" class="core-courseoverview"></core-courses-course-progress2>
                </ion-col>                
				<!-- ORIGINAl code :
				<ion-col *ngFor="let course of filteredCourses" no-padding col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 align-self-stretch>	
                  <core-courses-course-progress2 [course]="course" class="core-courseoverview"></core-courses-course-progress2>
                </ion-col>
				<!-- MTA - end -->	
            </ion-row>
        </ion-grid>
        <core-empty-box *ngIf="!courses || !courses.length" icon="ionic" [message]="'core.courses.nocourses' | translate">
            <p *ngIf="searchEnabled">{{ 'core.courses.searchcoursesadvice' | translate }}</p>
        </core-empty-box>
    </core-loading>
</ion-content>
