/* MTA - start */
ion-app.app-root core-sitehome-all-course-list {
    ion-card.card {
        display: flex;
        flex-direction: column;

		/* MTA - mod --> Original values: height: 150px */
        .core-course-thumb {
            height: 0px;
            width: 100%;
            overflow: hidden;
            cursor: pointer;
            pointer-events: auto;
            position: relative;

			
            @for $i from 0 to length($core-course-image-background) {
                &.core-course-color-#{$i} {
                    background: nth($core-course-image-background, $i + 1);
                }
            }
			

            &.core-course-color-img {
                background: white;
            }

            img {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }

        .core-course-link {
			background-color: #1080b8;  /* MTA - mod */
            padding-top: 8px;
            padding-bottom: 8px;
            .item-inner {
                @include padding(null, 0, null, null);
            }
            .label {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            h2 {
                margins: 6px 0;
                flex-grow: 1;
				color: white; /* MTA - mod */
            }
        }
        .label {
            @include margin(0, 0, 0, null);
        }
		/* MTA - start */
		.ebz_startseitenkurse
		{
			height: 150px;
			/*background-color: #d5f3f2;*/
			/*background-color: #c8f5d8;*/
			/*background-color: #c8e6f5;*/
			background-color: #1080b8;
			border: 2px solid #07325a;
			border-radius: 5px;
			/*background-color: #d5f3f2 !important; */
		}
		/* MTA - end */		
    }
		

    button {
        z-index: 1;
    }
}

/* MTA - 2 */
ion-app.app-root core-sitehome-categories {
    ion-card.card {
        display: flex;
        flex-direction: column;

		/* MTA - mod --> Original values: height: 150px */
        .core-course-thumb {
            height: 0px;
            width: 100%;
            overflow: hidden;
            cursor: pointer;
            pointer-events: auto;
            position: relative;

			
            @for $i from 0 to length($core-course-image-background) {
                &.core-course-color-#{$i} {
                    background: nth($core-course-image-background, $i + 1);
                }
            }
			

            &.core-course-color-img {
                background: white;
            }

            img {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }

        .core-course-link {
			background-color: #1080b8;  /* MTA - mod */
            padding-top: 8px;
            padding-bottom: 8px;
            .item-inner {
                @include padding(null, 0, null, null);
            }
            .label {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            h2 {
                margins: 6px 0;
                flex-grow: 1;
				color: white; /* MTA - mod */
            }
        }
        .label {
            @include margin(0, 0, 0, null);
        }
		/* MTA - start */
		.ebz_startseitenkurse
		{
			height: 150px;
			/*background-color: #d5f3f2;*/
			/*background-color: #c8f5d8;*/
			/*background-color: #c8e6f5;*/
			background-color: #1080b8;
			border: 2px solid #07325a;
			border-radius: 5px;
			/*background-color: #d5f3f2 !important; */
		}
		/* MTA - end */		
    }
		

    button {
        z-index: 1;
    }
}


/* MTA - 3 */
ion-app.app-root core-sitehome-course-search {
    ion-card.card {
        display: flex;
        flex-direction: column;

		/* MTA - mod --> Original values: height: 150px */
        .core-course-thumb {
            height: 0px;
            width: 100%;
            overflow: hidden;
            cursor: pointer;
            pointer-events: auto;
            position: relative;

			
            @for $i from 0 to length($core-course-image-background) {
                &.core-course-color-#{$i} {
                    background: nth($core-course-image-background, $i + 1);
                }
            }
			

            &.core-course-color-img {
                background: white;
            }

            img {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }

        .core-course-link {
			background-color: #1080b8;  /* MTA - mod */
            padding-top: 8px;
            padding-bottom: 8px;
            .item-inner {
                @include padding(null, 0, null, null);
            }
            .label {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            h2 {
                margins: 6px 0;
                flex-grow: 1;
				color: white; /* MTA - mod */
            }
        }
        .label {
            @include margin(0, 0, 0, null);
        }
		/* MTA - start */
		.ebz_startseitenkurse
		{
			height: 150px;
			/*background-color: #d5f3f2;*/
			/*background-color: #c8f5d8;*/
			/*background-color: #c8e6f5;*/
			background-color: #1080b8;
			border: 2px solid #07325a;
			border-radius: 5px;
			/*background-color: #d5f3f2 !important; */
		}
		/* MTA - end */		
    }
		

    button {
        z-index: 1;
    }
}

/* MTA - 4 */
ion-app.app-root core-sitehome-enrolled-course-list {
    ion-card.card {
        display: flex;
        flex-direction: column;

		/* MTA - mod --> Original values: height: 150px */
        .core-course-thumb {
            height: 0px;
            width: 100%;
            overflow: hidden;
            cursor: pointer;
            pointer-events: auto;
            position: relative;

			
            @for $i from 0 to length($core-course-image-background) {
                &.core-course-color-#{$i} {
                    background: nth($core-course-image-background, $i + 1);
                }
            }
			

            &.core-course-color-img {
                background: white;
            }

            img {
                position: absolute;
                top: 0;
                bottom: 0;
                margin: auto;
            }
        }

        .core-course-link {
			background-color: #1080b8;  /* MTA - mod */
            padding-top: 8px;
            padding-bottom: 8px;
            .item-inner {
                @include padding(null, 0, null, null);
            }
            .label {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
            h2 {
                margins: 6px 0;
                flex-grow: 1;
				color: white; /* MTA - mod */
            }
        }
        .label {
            @include margin(0, 0, 0, null);
        }
		/* MTA - start */
		.ebz_startseitenkurse
		{
			height: 150px;
			/*background-color: #d5f3f2;*/
			/*background-color: #c8f5d8;*/
			/*background-color: #c8e6f5;*/
			background-color: #1080b8;
			border: 2px solid #07325a;
			border-radius: 5px;
			/*background-color: #d5f3f2 !important; */
		}
		/* MTA - end */		
    }
		

    button {
        z-index: 1;
    }
}
	
/* MTA - end */	
